streamlit
streamlit-aggrid
urllib3==1.26.6 #downgrading was needed to run locally, can probably remove for cloud
google-api-python-client
google-cloud-storage
pandas
google-cloud-discoveryengine
google-cloud-aiplatform